body {
    font-family: "Montserrat", sans-serif;
    background-color: #f6d992;
}
.center-container {
    width: 33%;
    margin: 100px auto 50px auto;
}
h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.container, .tasks {
    padding: 30px;
    margin-bottom: 30px;
    border: 2px black solid;
    border-radius: 20px;
    font-size: 20px;
    line-height: 25px;
    background-color: #cda4fb;
}
.container input {
    margin: 20px;
}
.tasks {
    width: 30%;
    margin: 0 auto;
    background-color: #9cfe60;
}

.button-56 {
  align-items: center;
  background-color: #f9dcdc;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}